<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DHALSIM NET TOPO AND PHY TOPO</title>
    <script type="text/javascript" src="../static/js/vis-network.min.js"></script>
    
    <style>
        #mynetwork {
            width: 80%;
            height: 80vh;
            margin: 0 auto;
            border: 1px solid lightgray;
        }
    </style>
</head>
<body>
<button id="loadButton">加载</button>
<div id="mynetwork"></div>

<script type="text/javascript">
    // 初始化一个空的网络
    const container = document.getElementById('mynetwork');
    const data = {
        nodes: new vis.DataSet([]),
        edges: new vis.DataSet([])
    };
    const options = {
        physics: {
            enabled: true,
            barnesHut: {
                gravitationalConstant: -2000,
                centralGravity: 0.3,
                springLength: 95,
                springConstant: 0.04,
                damping: 0.09,
                avoidOverlap: 0.1
            },
            maxVelocity: 146,
            minVelocity: 0.1,
            solver: 'barnesHut',
            stabilization: {
                enabled: true,
                iterations: 1000,
                updateInterval: 25
            }
        },
        nodes: {
            font: {
                size: 30,  // 字体大小
                color: '#333'  // 字体颜色
            },
        },
    };

    // 为"加载"按钮添加点击事件监听器
    document.getElementById('loadButton').addEventListener('click', function() {
        // 使用fetch API从服务器请求数据
        fetch('/getdata')  // 与后端一致
        .then(response => response.json())
        .then(res => {
            // 使用返回的数据更新网络
            data.nodes.clear();
            data.edges.clear();

            res.nodes.forEach(function(node) {
                node.shape = 'image';
                node.image = getIcon(node.label);
            });

            data.nodes.add(res.nodes);
            data.edges.add(res.edges);

            const network = new vis.Network(container, data, options);
            network.fit();
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });
    });

  
    function getIcon(label) {
         if (label.startsWith('r')) {
            return '../static/img/router.svg';
        } else if (label=='scada') {
            return '../static/img/sql.svg';
        } else if (label.startsWith('s')) {
            return '../static/img/switch.svg'
        } else if (label.startsWith('PLC')){
            return '../static/img/factory.svg';
        } else {
            return '../static/img/hacker.svg'
        }
    }


</script>

</body>
</html>
